@use 'bulma/sass/utilities/functions' as functions;
@use 'bulma/sass/utilities/derived-variables' as derived-variables;

$-purple: #09b269;
$family-serif: 'Literata', serif;

@use 'bulma/bulma' as * with (
  $purple: $-purple,
  $primary: $-purple,
  $family-primary: $family-serif,
);

$checkbox-border-color: $purple;
$button-background-color: $-purple;

/* change to @use when possible */
@import '@oruga-ui/theme-bulma/dist/scss/bulma';