@use 'bulma/sass/utilities/functions'as functions;
@use 'bulma/sass/utilities/derived-variables'as derived-variables;


$family-serif: 'Roboto', sans-serif, serif;

@use 'bulma/bulma'as * with (
  $primary: rgb(89, 141, 88),
  $link: #004e57,
  $info: rgb(15, 121, 187),
  $success: rgb(53, 185, 24),
  $warning: rgb(233, 210, 3),
  $danger: rgb(255, 17, 0),
  $dark: rgb(47, 54, 50),
  $text: rgb(0, 78, 87),
  $background: rgb(255, 255, 255),
  $family-primary: $family-serif,
);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');

/* change to @use when possible */
@import '@oruga-ui/theme-bulma/dist/scss/bulma';

html {
  scroll-behavior: smooth;
}