<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" vite-href="~/main.js" asp-append-version="true" />
    <script type="module" vite-src="~/main.js" asp-append-version="true"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
